.nc_socialPanel {
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 34px;
    line-height: 1;
    margin-bottom: 20px!important;
    margin-top: 20px!important;
    overflow: hidden;
    padding: 0;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    direction: ltr;
    -ms-flex-align: stretch;
    -ms-flex-line-pack: center;
    -ms-flex-pack: justify;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.nc_socialPanel:not(.nc_floater):not(.nc_socialPanelSide) {
    width: 100%!important
}

.nc_wrapper .nc_socialPanel {
    margin-bottom: 10px!important;
    margin-top: 10px!important
}

div.nc_socialPanel .nc_tweetContainer {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    float: left;
    font-family: Lato;
    height: 32px;
    margin: 0 5px 3px;
    min-width: 34px;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    border-size: 1px
}

div.nc_socialPanel:not(.nc_socialPanelSide) .nc_tweetContainer {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.nc_socialPanel .nc_tweetContainer a.nc_tweet,.nc_socialPanel .totes .swp_count {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Lato,sans-serif;
    font-size: 18px!important;
    font-weight: 700;
    height: 30px;
    text-decoration: none;
    text-decoration: none!important;
    text-transform: none;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.nc_socialPanel:not(.nc_socialPanelSide) .nc_tweetContainer:nth-child(1) {
    margin-left: 0
}

.nc_socialPanel:not(.nc_socialPanelSide) .nc_tweetContainer:nth-last-child(1) {
    margin-right: 0
}

.nc_socialPanel a .swp_count:not(.swp_hide) {
    display: inline-block;
    line-height: 32px;
    margin: 0;
    padding: 0 5px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.nc_socialPanel .totes .swp_count,span.swp_share {
    line-height: 30px
}

.nc_socialPanel a .swp_count.swp_hide {
    margin: 0 auto
}

.nc_socialPanel span:before {
    content: initial!important
}

.nc_socialPanel span.swp_count {
    font-size: 14px
}

.nc_socialPanel span.iconFiller {
    font-size: 18px;
    margin: 0 auto
}

.nc_socialPanel.notMobile .nc_tweetContainer:nth-child(1) {
    margin-left: 0
}

.nc_socialPanel:not(.nc_socialPanelSide) {
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

.nc_socialPanel:not(.nc_socialPanelSide) div.totes.totesalt:nth-child(1) {
    margin-left: 0;
    margin-right: 15px;
    padding-left: 0
}

.nc_socialPanel:not(.nc_socialPanelSide) div.totes.totesalt:nth-last-child(1) {
    margin-right: 0;
    padding-right: 0
}

a.swp_CTT {
    cursor: pointer
}

span.swp_share {
    display: block;
    float: right;
    float: left;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    margin: 0 0 0 6px;
    max-width: none!important;
    vertical-align: middle
}

.nc_socialPanelSide span.swp_share {
    margin: 0
}

.nc_socialPanel .sw {
    float: left;
    height: 30px;
    line-height: 32px;
    margin: 0 5px;
    text-shadow: none!important;
    width: 20px
}

.iconFiller {
    display: block;
    float: left;
    height: 30px;
    overflow: hidden;
    -webkit-transition: width .1s linear;
    transition: width .1s linear
}

.nc_socialPanel .iconFiller {
    width: 30px
}

span.spaceManWilly {
    display: block;
    width: 120px
}

.nc_socialPanel .totes {
    background: #c4c4c4;
    border: 1px solid #e08a0f;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    cursor: default;
    display: block;
    font-size: 19px;
    padding: 0 10px;
    -webkit-box-flex: 0!important;
    -moz-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important
}

.nc_socialPanel div.totes.totesalt,.nc_socialPanel:hover div.totes.totesalt:not(:nth-child(1)) {
    background: 0!important;
    border: 0;
    color: #474b4d;
    margin-left: 0!important
}

div.nc_socialPanel:hover div.totes.totesalt:not(:nth-child(1)) {
    background: 0;
    color: #474b4d;
    margin-left: 10px
}

.nc_socialPanel .totes.totesalt .swp_label {
    color: #474b4d;
    font-size: 10px;
    letter-spacing: 0;
    min-width: 40px;
    vertical-align: middle
}

.nc_socialPanel .totes .swp_label {
    font-size: 10px;
    vertical-align: middle
}

.nc_socialPanel .totes.totesalt .swp_count {
    color: #474b4d;
    font-size: 24px
}

.nc_socialPanel.swp_customFull:hover div.totes,.nc_socialPanel.swp_fade .totes,.nc_socialPanel.swp_fullColor .totes,.nc_socialPanel:hover .totes {
    background: #e08a0f
}

.nc_socialPanel:not(.nc_socialPanelSide) .nc_tweetContainer.totes.totesalt:before {
    content: "o";
    display: inline-block;
    font-family: sw-icon-font;
    margin-top: 7px;
    vertical-align: top
}

.nc_socialPanel:not(.nc_socialPanelSide) .totes.totesalt .swp_count {
    display: inline-block;
    line-height: 0;
    margin-left: 8px;
    margin-top: 12px;
    min-width: 45px;
    position: relative;
    vertical-align: middle
}

span.swp_label {
    display: block;
    font-size: 9px!important;
    margin-top: 13px;
    position: absolute;
    text-align: center!important;
    text-transform: uppercase
}

.nc_socialPanelSide span.swp_label {
    margin-top: 0
}



.nc_socialPanel.swp_flatFresh.swp_d_fullColor .googlePlus,body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .googlePlus:not(:hover),html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .googlePlus:hover {
    border: 1px solid #df4b37
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .twitter,body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .twitter:not(:hover),html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .twitter:hover {
    border: 1px solid #429cd6
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .swp_fb,body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .swp_fb:not(:hover),html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .swp_fb:hover {
    border: 1px solid #3a589e
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .nc_pinterest,body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .nc_pinterest:not(:hover),html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .nc_pinterest:hover {
    border: 1px solid #cd2029
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .linkedIn,body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .linkedIn:not(:hover),html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .linkedIn:hover {
    border: 1px solid #0d77b7
}



.nc_socialPanel.swp_d_fullColor .googlePlus,body .nc_socialPanel.swp_o_fullColor:hover .googlePlus,html body .nc_socialPanel.swp_i_fullColor .googlePlus:hover {
    background: #df4b37;
    border: 1px solid #c44133
}

.nc_socialPanel.swp_d_fullColor .twitter,body .nc_socialPanel.swp_o_fullColor:hover .twitter,html body .nc_socialPanel.swp_i_fullColor .twitter:hover {
    background: #429cd6;
    border: 1px solid #3c87b2
}

.nc_socialPanel.swp_d_fullColor .swp_fb,body .nc_socialPanel.swp_o_fullColor:hover .swp_fb,html body .nc_socialPanel.swp_i_fullColor .swp_fb:hover {
    background: #3a589e;
    border: 1px solid #2e4675
}

.nc_socialPanel.swp_d_fullColor .nc_pinterest,body .nc_socialPanel.swp_o_fullColor:hover .nc_pinterest,html body .nc_socialPanel.swp_i_fullColor .nc_pinterest:hover {
    background: #cd2029;
    border: 1px solid #aa1b29
}

.nc_socialPanel.swp_d_fullColor .linkedIn,body .nc_socialPanel.swp_o_fullColor:hover .linkedIn,html body .nc_socialPanel.swp_i_fullColor .linkedIn:hover {
    background: #0d77b7;
    border: 1px solid #0c6591
}



.nc_socialPanelSide {
    flex-direction: column;
    height: auto;
    overflow: visible;
    top: 200px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    width: 100px!important;
    z-index: 9999999;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column
}

.nc_socialPanelSide.slide {
    position: fixed;
    left: -100px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.nc_socialPanelSide.fade {
    display: none;
    position: fixed;
    left: 5px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.nc_socialPanelSide .nc_tweetContainer {
    background: #dd4b38;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    clear: both;
    display: block;
    font-family: Lato,sans-serif;
    height: 32px;
    margin: 3px 0!important;
    overflow: hidden;
    padding: 0;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    vertical-align: top;
    width: 90px
}

.nc_socialPanelSide .nc_tweetContainer .iconFiller {
    display: inline-block;
    height: 40px;
    margin: 0 6px;
    padding: 0;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    vertical-align: middle;
    width: 21px
}

.nc_socialPanelSide .nc_tweetContainer .swp_count {
    display: inline-block;
    font-size: 14px;
    height: 32px;
    line-height: 35px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: right;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    vertical-align: top;
    width: 0
}

.nc_socialPanelSide .nc_tweetContainer a {
    cursor: pointer;
    display: block;
    font-weight: 500;
    height: 36px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    vertical-align: top
}

.nc_socialPanelSide .nc_tweetContainer .sw,.nc_socialPanelSide .nc_tweetContainer .swp_share {
    float: left;
    line-height: 34px
}

.nc_socialPanelSide.swp_default .nc_tweetContainer .sw {
    line-height: 32px
}

.nc_socialPanelSide.swp_default .nc_tweetContainer .swp_share {
    line-height: 30px
}

.nc_socialPanelSide .nc_tweetContainer .swp_share {
    font-size: 13px
}

.nc_socialPanelSide .nc_tweetContainer:hover,.nc_socialPanelSide .nc_tweetContainer:hover .iconFiller,.nc_socialPanelSide .nc_tweetContainer:hover .swp_count {
    -webkit-transition: all .1s linear;
    transition: all .1s linear
}

.nc_socialPanelSide.swp_boxed {
    -ms-transform: scale(.9);
    -webkit-transform: scale(.9);
    transform: scale(.9)
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer {
    margin-bottom: 5px
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer,.nc_socialPanelSide.swp_boxed .nc_tweetContainer a {
    height: 75px;
    position: relative;
    width: 75px
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer i.sw {
    font-size: 27px;
    height: 40px;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    width: 100%
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer:not(.totes) span.swp_share {
    height: 35px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 75px
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer:not(.totes) span.swp_count {
    height: 35px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    -webkit-transition: padding .1s linear;
    transition: padding .1s linear;
    width: 100%
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer span.swp_hide .iconFiller,.nc_socialPanelSide.swp_boxed .nc_tweetContainer span.swp_hide .spaceManWilly,.nc_socialPanelSide.swp_boxed .nc_tweetContainer:not(.totes) span.swp_count.swp_hide {
    height: 75px;
    opacity: 1
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer span.iconFiller {
    height: 40px;
    width: 75px
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer:not(.totes):hover span.swp_count:not(.swp_hide) {
    opacity: 0
}

.nc_socialPanelSide.swp_boxed .totes {
    padding: 0;
    width: 75px!important
}

.nc_socialPanelSide .nc_tweetContainer:not(.totes) {
    line-height: 34px
}

.nc_socialPanelSide:not(.swp_boxed) .nc_tweetContainer:not(.totes) .iconFiller {
    margin-left: 2px;
    width: 30px
}

.nc_socialPanelSide .nc_tweetContainer:not(.totes) .swp_count {
    padding: 0 8px;
    width: 48px
}

.nc_socialPanelSide .nc_tweetContainer:not(.totes) .swp_count.swp_hide {
    padding: 0;
    width: 100%
}

.nc_socialPanelSide .nc_tweetContainer:not(.totes) .swp_hide .iconFiller {
    display: block;
    float: none;
    margin: 0 auto
}

.nc_socialPanelSide:not(.swp_boxed) .nc_tweetContainer:not(.totes):hover {
    width: 150px
}

.nc_socialPanelSide .nc_tweetContainer:not(.totes) .spaceManWilly,.nc_socialPanelSide .nc_tweetContainer:not(.totes):hover .iconFiller {
    width: 90px
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer:not(.totes) .spaceManWilly,.nc_socialPanelSide.swp_boxed .nc_tweetContainer:not(.totes):hover .iconFiller {
    width: 100%
}

.nc_socialPanelSide .nc_tweetContainer.totes {
    background: rgba(0,0,0,0);
    border: 0!important;
    font-weight: 800;
    height: 45px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 90px
}

.nc_socialPanelSide .nc_tweetContainer.totes .swp_count {
    color: #444;
    display: block;
    font-family: Lato,sans-serif;
    height: 28px;
    text-align: center;
    width: 100%
}

.nc_socialPanelSide .nc_tweetContainer.totes .swp_label {
    color: #444;
    display: block;
    font-family: Lato,sans-serif;
    font-size: 50%;
    position: relative;
    text-align: center;
    width: 100%
}

.nc_wrapper {
    background: #fff;
    position: fixed;
    -webkit-transition: top .5s bottom .5s;
    transition: top .5s bottom .5s;
    width: 100%;
    z-index: 99999
}

.nc_wrapper.floatBottom {
    bottom: 0;
    left: 0
}

.nc_wrapper.floatTop {
    top: 0;
    left: 0
}

.nc_floater {
    margin: 10px 0;
    position: relative;
    left: 304px;
    width: 740px
}

.nc_socialPanelSide.hideCounts a {
    text-align: center
}

.nc_socialPanelSide.hideCounts .iconFiller {
    float: none;
    text-align: left
}

.sw {
    display: inline-block;
    font-family: sw-icon-font!important;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    text-rendering: auto;
    -ms-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
}

.sw:before {
    display: block!important
}

.wp-editor-container .sw:before {
    font-size: 18px;
    line-height: 22px
}

.wp-editor-container .sw-social-warfare:before {
    color: #ee464f
}

.mce-container .sw-social-warfare {
    color: #ee464f;
    font-size: 20px;
    margin-right: 15px;
    vertical-align: middle
}

.sw-google-plus:before {
    content: "h"
}

.sw-pinterest:before {
    content: "b"
}

.sw-twitter:before {
    content: "s"
}

.sw-facebook:before {
    content: "j"
}

.sw-linkedin:before {
    content: "f"
}

.sw-tumblr:before {
    content: "r"
}

.sw-stumbleupon:before {
    content: "q"
}

.sw-reddit:before {
    content: "a"
}

.sw-email:before {
    content: "k"
}

.sw-yummly:before {
    content: "x"
}

.sw-whatsapp:before {
    content: "y"
}

.sw-pocket:before {
    content: "B"
}

.sw-buffer:before {
    content: "z"
}

.sw-hacker_news:before {
    content: "D"
}

.sw-flipboard:before {
    content: "C"
}

.sw-social-warfare:before {
    content: "p"
}

.sw-click-to-tweet:after,.sw-tweet-clear:after {
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;
    display: block
}

.swp_CTT {
    text-decoration: none!important
}

.sw-tweet-clear {
    zoom:1}

.sw-click-to-tweet {
    display: block;
    margin: 15px 0;
    padding: 15px 30px;
    position: relative
}

.sw-click-to-tweet:after {
    line-height: 0
}

.sw-click-to-tweet .sw-ctt-text {
    margin: 0 0 10px;
    padding: 0;
    position: relative;
    word-wrap: break-word
}

a .sw-click-to-tweet .sw-ctt-text {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-transform: none
}

.sw-click-to-tweet .sw-ctt-btn {
    display: block;
    float: right;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    margin: 10px 0 0;
    padding: 3px 5px 3px 3px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase
}

.sw-click-to-tweet i.sw-twitter {
    float: right;
    font-size: 21px;
    margin-left: 15px;
    margin-top: 2px;
    text-transform: none
}

a.swp_CTT.style1 .sw-click-to-tweet {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

a.swp_CTT.style2 .sw-click-to-tweet {
    background-color: #fff;
    border: 4px double #ddd;
    -webkit-border-radius: 0;
    border-radius: 0
}

a.style2 .sw-click-to-tweet .sw-ctt-text {
    color: #666;
    font-style: italic;
    text-decoration: none
}

a.swp_CTT.style3:hover .sw-click-to-tweet {
    border-left: 10px solid #3c87b2;
    padding-right: 20px;
    -webkit-transition: all .25s linear;
    transition: all .25s linear
}

a.swp_CTT.style3 .sw-click-to-tweet {
    background-color: #429cd6;
    border: 0;
    border-left: 10px solid #429cd6;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding-right: 20px;
    -webkit-transition: all .25s linear;
    transition: all .25s linear
}

a.style3 .sw-click-to-tweet .sw-ctt-text {
    color: #fff;
    font-style: italic;
    text-decoration: none
}

a.swp_CTT.style4:hover .sw-click-to-tweet {
    border-left: 10px solid #3c87b2;
    -webkit-transition: all .25s linear;
    transition: all .25s linear
}

a.swp_CTT.style4 .sw-click-to-tweet {
    background-color: #333;
    border-left: 10px solid #c33;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .25s linear;
    transition: all .25s linear
}

a.swp_CTT.style5:hover .sw-click-to-tweet {
    background-color: #d34250;
    border-left: 10px solid #30394f;
    -webkit-transition: all .25s linear;
    transition: all .25s linear
}

a.swp_CTT.style5 .sw-click-to-tweet {
    background-color: #30394f;
    border-left: 10px solid #d34250;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .25s linear;
    transition: all .25s linear
}

a.swp_CTT.style6:hover .sw-click-to-tweet {
    background-color: #ced3dc;
    border-left: 10px solid #d34250;
    -webkit-transition: all .25s linear;
    transition: all .25s linear
}

a.swp_CTT.style6 .sw-click-to-tweet {
    background-color: #eee;
    border-left: 10px solid #d34250;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .25s linear;
    transition: all .25s linear
}

a.style6 .sw-click-to-tweet i.sw-twitter {
    color: #30394f
}

.swp_pop_thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
    height: 100px;
    margin: 5px 25px 5px 0;
    width: 100px
}

.swp_popular_post {
    clear: both
}

.swp_clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden
}

.swp_popular_post a.swp_popularity {
    border: 0;
    display: block;
    line-height: 1.5;
    margin: 20px 0
}

span.swp_pop_count {
    display: block;
    font-size: 70%
}

.swp_widget_box {
    -webkit-border-radius: 3px;
    border-radius: 3px
}

div.sw-pinit {
    display: table!important;
    line-height: 0;
    position: relative!important
}

.nc_socialPanel.mobile .iconFiller~.swp_count,.sw-content-locator,div.nc_socialPanel .nc_tweetContainer.swp_whatsapp:not(.mobile) {
    display: none
}

div.sw-pinit a.sw-pinit-button,div.sw-pinit a.sw-pinit-button:visited {
    background: #cd2029;
    border: 1px solid #aa1b29;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    height: 50px;
    line-height: 45px;
    opacity: 0;
    padding: 0 30px;
    position: absolute;
    text-decoration: none;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    z-index: 200
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer:not(.totes) .swp_hide span.swp_share,.nc_socialPanelSide.swp_boxed .nc_tweetContainer:not(.totes):hover span.swp_share:not(.swp_hide),div.sw-pinit:focus a.sw-pinit-button,div.sw-pinit:hover a.sw-pinit-button {
    opacity: 1
}

div.sw-pinit a.sw-pinit-button::before {
    color: #fff;
    content: "b";
    float: left;
    font-family: sw-icon-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    margin-left: -5px;
    margin-right: 10px
}

div.sw-pinit a.sw-pinit-button:hover::before {
    content: "F"
}

div.sw-pinit a.sw-pinit-button::focus,div.sw-pinit a.sw-pinit-button::hover {
    background: #aa1b29;
    color: #fff;
    text-decoration: none
}

div.sw-pinit .sw-pinit-left {
    left: 30px
}

div.sw-pinit .sw-pinit-center {
    margin-left: -60px;
    left: 50%
}

div.sw-pinit .sw-pinit-right {
    right: 30px
}

div.sw-pinit .sw-pinit-top {
    top: 30px
}

div.sw-pinit .sw-pinit-middle {
    margin-top: -25px;
    top: 50%
}

div.sw-pinit .sw-pinit-bottom {
    bottom: 30px
}

.mobile .nc_tweetContainer:nth-last-child(2),.nc_socialPanel.notMobile .nc_tweetContainer:nth-last-child(1),.nc_tweetContainer.totes:nth-last-child(1) {
    margin-right: 0
}

.nc_socialPanel.swp_d_darkGray a,.nc_socialPanel.swp_d_fullColor a,.nc_socialPanel.swp_d_lightGray a,.nc_socialPanel.swp_d_mediumGray a,body .nc_socialPanel.swp_o_darkGray:hover a,body .nc_socialPanel.swp_o_fullColor:hover a,body .nc_socialPanel.swp_o_lightGray:hover a,body .nc_socialPanel.swp_o_mediumGray:hover a,html body .nc_socialPanel.swp_i_darkGray a:hover,html body .nc_socialPanel.swp_i_fullColor .nc_tweetContainer:hover a,html body .nc_socialPanel.swp_i_lightGray .nc_tweetContainer:hover a,html body .nc_socialPanel.swp_i_mediumGray a:hover {
    color: #fff
}

.nc_socialPanel.swp_d_colorOutlines .twitter a,.wp-editor-container .sw-twitter:before,a.style1 .sw-click-to-tweet i.sw-twitter,a.style2 .sw-click-to-tweet i.sw-twitter,body .nc_socialPanel.swp_o_colorOutlines:hover .twitter a,html body .nc_socialPanel.swp_i_colorOutlines .twitter a:hover {
    color: #429cd6
}

a.style1 .sw-click-to-tweet .sw-ctt-btn,a.style1 .sw-click-to-tweet .sw-ctt-text {
    color: #999;
    text-decoration: none
}

a.style1:hover .sw-click-to-tweet .sw-ctt-btn,a.style1:hover .sw-click-to-tweet .sw-ctt-text,a.style2 .sw-click-to-tweet .sw-ctt-btn,a.style2:hover .sw-click-to-tweet .sw-ctt-btn,a.style2:hover .sw-click-to-tweet .sw-ctt-text {
    color: #666;
    text-decoration: none
}

a.style3 .sw-click-to-tweet .sw-ctt-btn,a.style3 .sw-click-to-tweet i.sw-twitter,a.style3:hover .sw-click-to-tweet .sw-ctt-btn,a.style3:hover .sw-click-to-tweet .sw-ctt-text,a.style4 .sw-click-to-tweet .sw-ctt-btn,a.style4 .sw-click-to-tweet .sw-ctt-text,a.style4:hover .sw-click-to-tweet .sw-ctt-btn,a.style4:hover .sw-click-to-tweet .sw-ctt-text,a.style5 .sw-click-to-tweet .sw-ctt-btn,a.style5 .sw-click-to-tweet .sw-ctt-text,a.style5:hover .sw-click-to-tweet .sw-ctt-btn,a.style5:hover .sw-click-to-tweet .sw-ctt-text {
    color: #fff;
    text-decoration: none
}

a.style4 .sw-click-to-tweet i.sw-twitter,a.style5 .sw-click-to-tweet i.sw-twitter {
    color: #fff
}

a.style6 .sw-click-to-tweet .sw-ctt-btn,a.style6 .sw-click-to-tweet .sw-ctt-text {
    color: #30394f;
    text-decoration: none
}

a.style6:hover .sw-click-to-tweet .sw-ctt-btn,a.style6:hover .sw-click-to-tweet .sw-ctt-text,a.style6:hover .sw-click-to-tweet i.sw-twitter {
    color: #2a2d34;
    text-decoration: none
}

.scale-70 {
    -ms-transform: scale(.7);
    -webkit-transform: scale(.7);
    transform: scale(.7)
}

.nc_socialPanel:not(.nc_floater).scale-70.scale-fullWidth {
    width: 142.8571428571429%!important
}

.scale-80 {
    -ms-transform: scale(.8);
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.nc_socialPanel:not(.nc_floater).scale-80.scale-fullWidth {
    width: 125%!important
}

.scale-90 {
    -ms-transform: scale(.9);
    -webkit-transform: scale(.9);
    transform: scale(.9)
}

.nc_socialPanel:not(.nc_floater).scale-90.scale-fullWidth {
    width: 111.111111111111%!important
}

.scale-110 {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.nc_socialPanel:not(.nc_floater).scale-110.scale-fullWidth {
    width: 90.90909090909091%!important
}

.scale-120 {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.nc_socialPanel:not(.nc_floater).scale-120.scale-fullWidth {
    width: 83.33333333333333%!important
}

.scale-130 {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}

.nc_socialPanel:not(.nc_floater).scale-130.scale-fullWidth {
    width: 76.92307692307692%!important
}

.scale-140 {
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4)
}

.nc_socialPanel:not(.nc_floater).scale-140.scale-fullWidth {
    width: 71.42857142857143%!important
}

.nc_floater.scale-center,.nc_floater.scale-right,.scale-fullWidth,.scale-left {
    -ms-transform-origin: left;
    -webkit-transform-origin: left;
    transform-origin: left
}

.scale-right {
    -ms-transform-origin: right;
    -webkit-transform-origin: right;
    transform-origin: right
}

.scale-center {
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center
}

div.nc_socialPanel .nc_tweetContainer.swp_emphasize {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2
}

.sw-pinit.aligncenter {
    margin: 0 auto
}

@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none) {
    div.sw-pinit {
        display: inline-block!important;
        max-width: 100%
    }
}

.swp_hidden_pin_image {
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 0
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

html {
    -webkit-font-smoothing: antialiased
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,input,select,textarea {
    margin: 0;
    font-weight: inherit
}

:focus {
    outline: 0
}

img,video,object {
    max-width: 100%;
    height: auto!important
}

iframe {
    max-width: 100%
}

blockquote {
    font-weight: normal;
    padding: 0 10px 20px 27px;
    position: relative;
    margin-top: 25px
}

blockquote:after {
    font-family: FontAwesome;
    position: absolute;
    content: "\f10d";
    font-size: 20px;
    width: 50px;
    top: 0;
    left: 0
}

blockquote p {
    margin-bottom: 10px
}

strong,b {
    font-weight: bold
}

em,i,cite {
    font-style: italic
}

small {
    font-size: 100%
}

figure {
    margin: 10px 0
}

code,pre {
    font-weight: normal;
    font-style: normal
}

pre {
    margin: 5px 0 20px 0;
    line-height: 1.3em;
    padding: 8px 10px;
    overflow: auto
}

code {
    padding: 0 8px;
    line-height: 1.5
}

mark {
    padding: 1px 6px;
    margin: 0 2px;
    color: black;
    background: #fff7a8
}

address {
    margin: 10px 0;
    font-style: italic
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center
}

#gallery-1 img {
    border: 0!important
}

.wp-caption-text {
    margin-bottom: 0
}

dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold
}

dd {
    margin: 0 0 0 110px;
    padding: 0 0 .5em 0;
    overflow: hidden
}

body {
    font: 14px/1.5 Noto Sans,sans-serif;
    color: #555;
    background-color: #ebebeb
}

::-moz-selection {
    background: #222;
    color: white;
    text-shadow: none
}

::selection {
    background: #222;
    color: white;
    text-shadow: none
}

#page,.container {
    position: relative;
    margin-right: auto;
    margin-left: auto
}

.post-single-content h1,.post-single-content h2,.post-single-content h3,.post-single-content h4,.post-single-content h5,.post-single-content h6 {
    text-transform: uppercase
}

.post-single-content h2 {
    font-size: 24px
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    margin-bottom: 12px;
    color: #444
}

h1 {
    font-size: 28px;
    line-height: 1.4
}

h2 {
    line-height: 1.4
}

h3 {
    font-size: 22px;
    line-height: 1.4
}

h4 {
    font-size: 20px;
    line-height: 1.4
}

h5 {
    font-size: 18px;
    line-height: 1.4
}

h6 {
    font-size: 16px;
    line-height: 1.4
}

.sub-title {
    font-size: 12px
}

p {
    margin-bottom: 20px
}

a {
    text-decoration: none;
    color: #0274be;
    transition: all .25s linear
}

a:hover {
    color: #0274be
}

a:link,a:visited,a:active {
    text-decoration: none
}

.main-container {
    width: 100%;
    margin: 0 auto;
    clear: both;
    display: block;
    padding: 0
}

#page,.container {
    max-width: 1152px;
    min-width: 240px
}

#page {
    padding-top: 35px;
    min-height: 100px;
    float: none;
    clear: both
}

header {
    float: left;
    width: 100%;
    position: relative
}

.main-header {
    position: relative;
    float: left;
    min-width: 100%;
    width: 100%;
    z-index: 99;
    background: #fff
}

.main-header .container {
    background: #fff
}

#header {
    position: relative;
    min-width: 100%;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background: #222
}

#header h1,#header h2 {
    float: left;
    display: inline-block;
    line-height: 1;
    position: relative;
    margin-bottom: 0
}

div#regular-header {
    overflow: hidden;
    clear: both;
    padding: 0
}

#logo a {
    text-transform: uppercase;
    float: left;
    line-height: 1;
    color: #222
}

#header #logo a {
    font-size: 28px;
    color: #fff
}

#logo img {
    float: left
}

.logo-wrap {
    margin: 49px 0;
    overflow: hidden;
    float: left
}

#header .logo-wrap {
    padding: 22px 0;
    margin: 0
}

.site-description {
    float: left;
    margin-top: 0;
    max-width: 350px;
    clear: left
}

#header .header-search {
    float: right
}

#header #searchform {
    max-width: 100%;
    float: right;
    width: auto;
    min-width: 206px
}

#header #s {
    margin: 0!important;
    width: 80%
}

.widget-header {
    float: right;
    max-width: 77%;
    margin-top: 20px
}

.small-header {
    text-align: center
}

.small-header .widget-header {
    float: none;
    display: inline-block;
    margin-bottom: -20px
}

.widget-header img {
    float: left
}

.widget-header .textwidget {
    float: left;
    margin-top: 46px;
    border-left: 1px solid #ccc;
    padding-left: 20px
}

#primary-navigation .navigation .menu {
    float: left;
    margin-right: 20px
}

div.header-social-icons {
    float: right;
    background: #eee;
    position: relative;
    margin-left: 35px
}

div.header-social-icons:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 46px 30px 0 0;
    border-color: rgba(0,0,0,0) #eee rgba(0,0,0,0) rgba(0,0,0,0);
    left: -30px
}

#primary-navigation .header-social-icons a,.header-social-icons a {
    float: left;
    font-size: 18px;
    padding: 14px 10px
}

#primary-navigation .header-social-icons a:last-child {
    padding-right: 15px
}

#primary-navigation .navigation>ul>li:first-child>a {
    padding-left: 0
}

.navigation .toggle-caret {
    display: none
}

.regular_header div#primary-nav {
    float: left;
    width: 100%;
    border-bottom: 1px solid #eee
}

#primary-navigation {
    float: right
}

#primary-navigation .navigation ul ul {
    width: 200px
}

#primary-navigation .navigation ul ul ul {
    left: 200px
}

.regular_header #primary-navigation {
    float: left;
    width: 100%
}

#primary-navigation .navigation ul ul a {
    padding-right: 45px
}

.menu-item-has-children>a:after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    right: 14px
}

#primary-navigation .navigation .menu-item-has-children>a {
    padding-right: 25px
}

#secondary-navigation {
    display: block;
    float: right
}

.regular_header #secondary-navigation {
    float: left;
    width: 100%
}

#secondary-navigation .navigation ul ul li {
    background: #fff
}

#secondary-navigation .navigation ul li:hover,#secondary-navigation .navigation ul .current-menu-item {
    background: #fff
}

#secondary-navigation .navigation ul li:hover a {
    color: #777
}

#secondary-navigation a {
    text-align: left;
    text-decoration: none;
    padding: 24px 25px;
    transition: none
}

#secondary-navigation .navigation>ul>.menu-item-has-children>a {
    padding-right: 38px
}

#secondary-navigation .menu-item-has-children>a:after {
    right: 22px
}

#primary-navigation a {
    padding: 17px 15px 16px 15px;
    line-height: 1
}

#secondary-navigation a .sub {
    font-size: 11px;
    font-weight: normal;
    color: #9b9b9b
}

.navigation {
    float: left;
    position: relative;
    width: 100%
}

.navigation ul {
    margin: 0 auto
}

.navigation ul li {
    float: left;
    line-height: 24px;
    position: relative;
    transition: all .25s linear
}

.navigation ul li a,.navigation ul li a:link,.navigation ul li a:visited {
    display: inline-block
}

.navigation>ul>.current a {
    background: transparent;
    color: #5a5a5a!important
}

.navigation ul li li {
    background: #fff;
    border-bottom: 0
}

.navigation ul ul {
    position: absolute;
    width: 255px;
    padding: 20px 0 0 0;
    padding-top: 0;
    z-index: 400;
    font-size: 12px;
    color: #798189;
    box-shadow: 0 2px 1px 0 rgba(50,50,50,.2)
}

.navigation ul ul li {
    padding: 0;
    background: #fff;
    color: #000
}

#primary-navigation .navigation ul ul a,#primary-navigation .navigation ul ul a:link,#primary-navigation .navigation ul ul a:visited,#secondary-navigation .navigation ul ul a,#secondary-navigation .navigation ul ul a:link,#secondary-navigation .navigation ul ul a:visited {
    padding: 9px 45px 9px 20px;
    position: relative;
    width: 190px;
    border-left: 0;
    background: transparent;
    border-right: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(255,255,255,.05);
    margin: 0
}

#primary-navigation .navigation ul ul a,#primary-navigation .navigation ul ul a:link {
    width: 135px
}

.navigation ul ul li:last-child a {
    border-bottom: 0
}

.navigation ul ul {
    display: none
}

.navigation ul ul ul {
    left: 256px;
    top: 0;
    box-shadow: 1px 1px 3px 0 rgba(50,50,50,.2)
}

.sub-menu .menu-item-has-children:after {
    color: #fff
}

.clearfix:before,.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom:1;}

a#pull {
    display: none
}

.navigation i {
    margin-right: 4px
}

#header.sticky-navigation-active {
    z-index: 500;
    position: fixed;
    top: 0;
    margin: 0!important;
    -webkit-backface-visibility: hidden
}

.admin-bar .sticky-navigation-active {
    top: 32px
}

.sticky-navigation a {
    transition: all .25s linear
}

.article {
    width: 67.015%;
    float: left;
    margin-bottom: 35px;
    padding: 3.994%;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 1px 0 rgba(50,50,50,.1)
}

#content_box {
    float: left;
    width: 100%
}

.post {
    float: left;
    width: 100%
}

.single_post {
    background-color: #fff;
    width: 100%;
    float: left;
    margin-bottom: 30px
}

.single_page {
    background-color: white;
    padding-top: 0
}

.post-content {
    margin-bottom: 15px;
    overflow: hidden;
    clear: both;
    float: left;
    width: 100%
}

.post-single-content {
    clear: both;
    float: left;
    width: 100%
}

.readMore {
    float: left;
    margin-top: 10px
}

.frontPost .readMore a {
    color: #000;
    font-size: 12px
}

.ss-full-width {
    background: white;
    overflow: hidden;
    padding-top: 0;
    padding: 4%;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 1px 0 rgba(50,50,50,.1)
}

.ss-full-width #content_box {
    padding-right: 0;
    padding-left: 0
}

.post.excerpt {
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 15px;
    background-color: #fff;
    width: auto
}

.widget .wp-post-image,.widget .wpt_thumb_small {
    float: left;
    margin-bottom: 10px
}

.featured-thumbnail {
    max-width: 100%;
    float: left;
    width: 100%
}

#featured-thumbnail {
    max-width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    clear: both;
    margin-bottom: 15px
}

#featured-thumbnail.schema-widgetfull {
    float: left;
    margin-right: 20px
}

#featured-thumbnail.schema-widgetfull+.front-view-content {
    width: auto;
    float: none
}

.featured-thumbnail img {
    margin-bottom: 0;
    width: 100%;
    float: left
}

.title {
    clear: both
}

.single-title {
    float: left;
    width: 100%
}

.page h1.title {
    padding-top: 0;
    margin-bottom: 0
}

.post-info {
    display: block;
    color: #aaa;
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 20px
}

header .post-info a {
    color: #777
}

.post-info>span {
    margin-right: 20px
}

article header {
    float: left;
    width: 100%
}

.featured-category-title {
    float: left;
    width: 100%;
    clear: both;
    font-size: 22px
}

.featured-category-title a {
    float: left;
    width: 100%;
    color: #222;
    margin-top: 30px
}

.latestPost {
    width: 100%;
    float: left;
    margin-bottom: 30px
}

.latestPost .title {
    display: block
}

.front-view-content {
    float: left;
    width: 100%
}

.single_post header {
    width: 100%
}

article img.left,article img.alignleft,.wp-caption.alignleft {
    margin: .3em 1.571em .5em 0;
    display: block;
    float: left
}

article img.right,article img.alignright,.wp-caption.alignright {
    margin: .3em 0 .5em 1.571em;
    display: block;
    float: right
}

article img.center,article img.aligncenter,.wp-caption.aligncenter {
    margin: .3em auto .5em auto;
    display: block
}

article img.aligncenter,article img.alignnone {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    clear: both
}

article ul {
    padding: 1.5em 0 1.571em 1.9em;
    list-style-type: square
}

article ol {
    padding: 1.5em 0 1.571em 1.9em;
    list-style-type: decimal
}

article ul ul,article ol ol,article ul ol,article ol ul {
    padding-top: 0;
    padding-bottom: 0
}

article ul ul {
    list-style-type: square
}

article ul ul ul {
    list-style-type: square
}

article .iconlist {
    padding-left: 0
}

article .iconlist li {
    list-style-type: none
}

.tweets li {
    margin-bottom: 15px!important
}

.tweets li {
    margin-bottom: 15px!important
}

.fb_iframe_widget,.fb_iframe_widget span {
    max-width: 100%;
    width: 100%!important
}

.widget_nav_menu .menu-item-has-children>a:after {
    display: none
}

.widget_nav_menu .fa>a,.widget_nav_menu .fa>a {
    padding-left: 5px
}

.widget_nav_menu .sub-menu {
    margin-top: 8px
}

.toggle-menu ul ul {
    display: none
}

.toggle-menu .toggle-menu-item-parent {
    position: relative
}

.toggle-menu .toggle-caret {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    line-height: inherit
}

.toggle-menu .toggle-caret .fa {
    width: 20px;
    text-align: center;
    font-size: 16px;
    color: inherit;
    line-height: 20px
}

.toggle-menu .active>.toggle-caret .fa:before {
    content: "\f068"
}

input,textarea,select {
    padding: 8px 12px;
    font-size: 14px;
    color: #444;
    border: 1px solid #e4e4e4;
    font-family: inherit
}

textarea {
    overflow: auto;
    resize: vertical
}

select {
    padding: 6px 10px;
    border-color: #d8d8d8;
    width: 100%
}

table {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    border: 1px solid #e4e4e4
}

thead {
    background: #f7f8f9;
    font-size: 14px;
    color: #585f65
}

table th,table td {
    padding: 7px 15px;
    text-align: left
}

thead th {
    padding: 14px
}

.widget h3 {
    margin: 0 0 15px 0
}

footer {
    background: #222;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    clear: both
}

footer .container {
    padding: 0;
    width: 1152px
}

.footer-widgets {
    padding: 40px 0 10px 0;
    color: rgba(255,255,255,.25);
    overflow: hidden
}

.footer-widgets .f-widget {
    width: 32%;
    margin-right: 2%;
    float: left
}

.f-widget .widget {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    clear: both
}

.footer-widgets .f-widget #searchform .fa-search:hover {
    cursor: pointer
}

.f-widget a {
    color: rgba(255,255,255,.45)
}

.f-widget ul li {
    margin-bottom: 5px
}

.f-widget .top-week li a {
    font-size: 15px
}

.f-widget #s {
    border: 1px solid rgba(255,255,255,.05)
}

.f-widget #s::-webkit-input-speech-button {
    margin-right: 8px
}

.f-widget #searchform .fa-search {
    background: rgba(255,255,255,.2);
    color: rgba(255,255,255,.2)
}

.footer-widgets.widgets-num-3 .f-widget.last {
    margin-right: 0
}

.widgets-num-4 .f-widget {
    width: 22.7%;
    margin-right: 3%
}

.widgets-num-4 .f-widget.last {
    margin-right: 0
}

.f-widget .ajax-search-results-container {
    background: #1c1c1c;
    color: #a5a5a5
}

.f-widget .ajax-search-results-container.loading:after {
    background-color: rgba(0,0,0,0.8)
}

.f-widget .ajax-search-results-container a {
    color: #fff
}

.copyrights {
    float: left;
    width: 100%;
    clear: both;
    padding-bottom: 17px;
    padding-top: 20px;
    background: #fff
}

#copyright-note {
    width: 100%;
    margin: 0 auto;
    clear: both;
    max-width: 100%
}

.postsby {
    margin-bottom: 25px
}

.to-top {
    float: right;
    position: relative
}

.toplink .fa-angle-double-up {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0
}

.toplink {
    padding-right: 27px
}

#move-to-top {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 12px;
    padding: 10px 10px 18px 10px;
    position: fixed;
    right: 15px;
    bottom: 10px;
    transition: all .25s linear 0s;
    width: 20px;
    z-index: 25;
    background: #222;
    text-align: center;
    border-radius: 3px
}

#move-to-top:not(.filling) {
    opacity: 0;
    visibility: hidden
}

#move-to-top .fa-angle-double-up {
    font-size: 22px
}

.related-posts {
    background-color: #FFF;
    margin-bottom: 20px;
    clear: both;
    float: left;
    width: 100%
}

.related-posts h4 {
    font-size: 30px
}

.related-posts article {
    width: 31%;
    margin-right: 3.5%;
    float: left;
    margin-bottom: 15px
}

.related-posts #featured-thumbnail {
    margin-bottom: 0
}

.related-posts article:nth-child(7n-3) {
    clear: left
}

.related-posts .post-info {
    clear: none;
    float: none
}

.related-posts .last {
    margin-right: 0;
    padding-bottom: 0
}

.related-posts .title {
    font-size: 16px;
    margin-top: 10px
}

.related-posts .title a {
    font-size: 16px!important;
    color: #222!important;
    font-weight: 400!important
}

.related-posts .title a:hover {
    color: #0274be!important
}

.related-posts article header {
    margin-bottom: 0
}

.tags {
    margin: 20px 0 0 0;
    width: 100%;
    float: left
}

.tags a {
    margin-left: 5px
}

.postauthor {
    margin: 0 0 30px -6.8%;
    padding: 30px 6.8%;
    min-height: 180px;
    background-color: #222;
    float: left;
    clear: both;
    width: 100%;
    color: #AAA
}

.postauthor h4 {
    padding-top: 6px;
    padding-bottom: 6px;
    color: #fff
}

.postauthor h5 {
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 24px;
    text-transform: capitalize
}

.postauthor img {
    float: left;
    margin: 4px 20px 0 0;
    border-radius: 50%
}

.postauthor h4 a {
    color: #473636
}

#respond h4,.total-comments,.postauthor h4,.postauthor-top {
    margin-bottom: 10px;
    margin-top: 1px;
    font-size: 30px
}

.postauthor-top {
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 15px
}

.clear {
    clear: both
}

.left {
    float: left
}

.right {
    float: right
}

.last {
    margin-right: 0
}

.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

@font-face {
    font-family: 'FontAwesome';
    src: url('/wp-content/plugins/social-warfare/fonts/sw-icon-font.eot');
    src: url('/wp-content/plugins/social-warfare/fonts/sw-icon-font.eot?#iefix') format('embedded-opentype'),url('/wp-content/plugins/social-warfare/fonts/sw-icon-font.woff2') format('woff2'),url('/wp-content/plugins/social-warfare/fonts/sw-icon-font.woff') format('woff'),url('/wp-content/plugins/social-warfare/fonts/sw-icon-font.ttf') format('truetype'),url('/wp-content/plugins/social-warfare/fonts/sw-icon-font.svg?#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-angle-double-up:before {
    content: "\f102"
}

html {
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%
}

.main-container {
    max-width: 100%
}

@media screen and (max-width: 1366px) {
    .shareit {
        margin:0 0 0 -140px
    }
}

@media screen and (max-width: 1300px) {
    .shareit {
        position:relative!important;
        width: 100%!important;
        top: 0!important;
        padding-left: 0!important;
        padding-right: 0!important;
        margin: 0!important;
        padding-top: 10px!important;
        border: 0!important;
        box-shadow: none!important
    }

    .share-item {
        margin: 0
    }
}

@media screen and (max-width: 1152px) {
    #page,.container {
        max-width:96%
    }
}

@media screen and (max-width: 1024px) {
    #move-to-top {
        margin-right:0;
        right: 5px
    }

    div.header-social-icons {
        margin-left: 20px
    }

    #primary-navigation a {
        padding: 17px 5px 16px 5px
    }

    .mts-cart span a {
        padding: 17px 3px 16px 3px!important
    }
}

@media screen and (max-width: 960px) {
    #secondary-navigation {
        left:0
    }

    img {
        max-width: 100%;
        height: auto!important
    }

    .ad-300 img {
        max-width: 100%
    }

    .ad-125 li {
        max-width: 40%
    }

    .ad-125 img {
        padding: 0;
        background: #fafafa;
        border: 0
    }

    .footer-widgets .f-widget {
        width: 31.5%
    }

    .footer-widgets.widgets-num-4 .f-widget {
        width: 22.5%
    }
}

@media screen and (min-width: 865px) {
    .navigation.mobile-only {
        display:none
    }
}

@media screen and (max-width: 865px) {
    #header h1,#header h2,.site-description {
        float:none;
        text-align: center;
        width: 100%;
        max-width: 100%;
        padding: 0
    }

    #header h1,#header h2 {
        font-size: 40px
    }

    .site-description {
        margin-top: 0
    }

    #logo a,#logo img {
        float: none;
        letter-spacing: 0
    }

    .logo-wrap {
        margin-bottom: 10px;
        margin-top: 0;
        width: 100%;
        margin-top: 20px;
        text-align: center
    }

    .widget-header {
        max-width: 100%;
        float: none;
        overflow: hidden;
        width: 100%;
        text-align: center
    }

    .small-header .widget-header {
        margin-top: 20px
    }

    .widget-header img {
        float: none
    }

    footer .container {
        padding: 0 2%
    }

    div.header-social-icons {
        float: left;
        width: 100%;
        background: #333;
        padding-left: 10px;
        box-sizing: border-box
    }

    .header-social-icons a {
        color: #fff
    }

    .mts-cart {
        float: left;
        padding-left: 20px;
        margin-right: 0;
        width: 100%;
        box-sizing: border-box
    }

    .mts-cart span,.mts-cart span a {
        color: #fff
    }

    .mts-cart>span {
        width: 100%;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,.2)!important;
        padding: 9px 0!important;
        padding-left: 25px!important;
        box-sizing: border-box;
        text-indent: 25px
    }

    #secondary-navigation .mts-cart span a {
        display: inline;
        padding: 0!important
    }

    .navigation {
        width: 100%;
        border: 0;
        display: none
    }

    #secondary-navigation {
        width: 100%!important;
        position: relative!important
    }

    .navigation .menu a,.navigation .menu .fa>a,.navigation .menu .fa>a {
        color: #fff!important;
        background: transparent
    }

    .navigation .menu {
        display: block!important;
        float: none;
        background: transparent;
        margin-bottom: 0
    }

    .navigation ul ul {
        visibility: visible!important;
        opacity: 1!important;
        position: relative;
        left: 0!important;
        border: 0;
        width: 100%
    }

    .navigation ul li li {
        background: transparent;
        border: 0
    }

    nav {
        height: auto
    }

    #header nav li,#header .navigation ul li li {
        width: 100%!important;
        float: left;
        position: relative
    }

    .navigation ul li:after {
        display: none
    }

    .navigation ul li:before {
        display: none
    }

    #header nav li a {
        border-bottom: 1px solid rgba(0,0,0,.2)!important;
        width: 100%!important;
        box-sizing: border-box
    }

    #header nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px
    }

    a#pull {
        display: block;
        width: 100%;
        position: relative;
        color: #fff;
        margin-left: -2.01%;
        margin-right: -2.01%;
        padding: 10px 2.02%;
        text-indent: 0
    }

    a#pull:after {
        content: "\f0c9";
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
        font-family: FontAwesome
    }

    .navigation ul .sfHover a,.navigation ul li:hover,.navigation ul .sfHover ul li {
        background: transparent
    }

    #catcher {
        height: 0!important
    }

    .sticky-navigation-active {
        position: relative!important;
        top: 0!important
    }

    .main-container {
        position: relative;
        left: 0;
        transition: left 500ms ease
    }

    .mobile-menu-active .main-container {
        left: 300px;
        transition: left 500ms ease
    }

    .navigation.mobile-menu-wrapper {
        display: block;
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        background-color: #222;
        border-right: 1px solid rgba(0,0,0,.2);
        overflow: auto;
        transition: left 500ms ease;
        -webkit-backface-visibility: hidden;
        box-sizing: border-box;
        overflow-x: hidden
    }

    .mobile-menu-active .navigation.mobile-menu-wrapper {
        left: 0;
        z-index: 1111
    }

    .navigation ul li {
        width: 100%;
        display: block
    }

    .navigation ul li:hover {
        background: none
    }

    .navigation ul li a,.navigation ul ul a {
        padding: 9px 0!important;
        width: 100%;
        border: 0
    }

    .navigation ul ul {
        position: static;
        width: 100%;
        border: 0
    }

    .navigation ul ul li {
        background: none;
        width: 100%
    }

    .navigation i {
        display: inline
    }

    .navigation ul ul a {
        padding: 9px 18px!important
    }

    .navigation ul ul ul a {
        padding: 9px 27px!important
    }

    .navigation ul ul ul ul a {
        padding: 9px 36px!important
    }

    .navigation .toggle-caret {
        display: block;
        width: 42px;
        height: 42px;
        line-height: 42px;
        color: #fff;
        border-left: 1px solid rgba(0,0,0,.2);
        top: 0
    }

    .navigation .menu-item-has-children>a:after {
        content: ''
    }

    #mobile-menu-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        cursor: pointer;
        display: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background: rgba(0,0,0,.5)
    }

    html.noscroll {
        position: fixed;
        overflow-y: scroll;
        width: 100%
    }

    #wpmm-megamenu .wpmm-subcategories {
        width: 100%;
        text-indent: 0
    }

    #wpmm-megamenu .wpmm-posts {
        width: 100%
    }

    #wpmm-megamenu .wpmm-post {
        width: 100%!important;
        padding: 0 10px!important;
        text-align: center!important
    }

    #wpmm-megamenu .wpmm-thumbnail img {
        float: left
    }

    div.header-social-icons,.mts-cart {
        display: block!important
    }

    #secondary-navigation .mts-cart {
        display: block!important;
        padding-left: 0
    }

    #secondary-navigation .navigation ul li:hover,#secondary-navigation .navigation ul .current-menu-item {
        background: transparent
    }

    .wpmm-megamenu-showing.wpmm-light-scheme {
        background: transparent!important
    }

    #secondary-navigation .navigation ul ul li {
        background: transparent
    }

    #secondary-navigation .header-social-icons a {
        font-size: 18px!important;
        padding: 14px 10px!important;
        width: auto;
        text-indent: 0
    }

    .navigation i {
        margin-right: 0
    }

    div.header-social-icons:before {
        display: none
    }

    div.header-social-icons {
        margin-left: 0;
        padding-left: 15px
    }
}

@media screen and (max-width: 728px) {
    .logged-in .pace .pace-progress {
        top:46px
    }

    .widget-header {
        max-width: 100%;
        float: left;
        margin-top: 0;
        margin-bottom: 10px
    }
}

@media screen and (max-width: 720px) {
    #secondary-navigation a {
        padding-top:10px!important;
        padding-bottom: 10px!important
    }

    .article {
        width: 100%
    }

    #content_box {
        padding-right: 0;
        padding-left: 0!important
    }

    .sidebar.c-4-12 {
        float: none;
        width: 100%!important;
        margin: 0 auto
    }

    .ad-125 li {
        max-width: 45%
    }

    #comments {
        margin-right: 0
    }

    .widget-header .textwidget {
        margin-top: 0;
        padding-left: 0;
        border-left: 0
    }

    .footer-widgets.widgets-num-4 .f-widget,.footer-widgets.widgets-num-3 .f-widget {
        width: 48%;
        margin-right: 4%
    }

    .footer-widgets.widgets-num-4 .f-widget:nth-child(even),.footer-widgets.widgets-num-3 .f-widget:nth-child(even) {
        margin-right: 0
    }
}

@media screen and (max-width: 600px) {
    .featured-thumbnail img {
        width:100%
    }

    .logged-in .pace .pace-progress {
        top: 0
    }

    .footer-widgets .f-widget,.footer-widgets.widgets-num-4 .f-widget,.footer-widgets.widgets-num-3 .f-widget.last {
        width: 100%;
        max-width: 340px;
        margin-bottom: 15px;
        float: none!important;
        margin: 0 auto!important
    }

    html #wpadminbar {
        position: fixed
    }
}

@media screen and (max-width: 550px) {
    .sbutton {
        float:right
    }

    .f-widget {
        width: 100%;
        margin-right: 0
    }

    .primary-slider .slide-title,.latestPost .title a,.single-title {
        font-size: 24px!important
    }

    .related-posts .latestPost .title a {
        font-size: 16px!important
    }
}

@media screen and (max-width: 480px) {
    .navigation {
        border-bottom:0
    }

    .navigation {
        margin-top: 0;
        margin-bottom: 0
    }

    #secondary-navigation {
        width: 100%;
        height: 35px
    }

    #featured-thumbnail.schema-widgetfull {
        float: none;
        width: 100%;
        margin-right: 0
    }

    .related-posts article {
        width: 100%;
        float: left!important;
        max-width: 100%
    }

    .related-posts #featured-thumbnail {
        max-height: 200px
    }

    .one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth {
        width: 100%;
        margin-right: 0
    }

    .copyrights {
        text-align: center
    }

    .top {
        width: 100%
    }

    #cancel-comment-reply-link {
        margin-bottom: 0;
        margin-top: -43px
    }

    .commentlist .children {
        margin-left: 0;
        width: 100%;
        padding-left: 10px
    }

    .related-posts .latestPost .title a {
        font-size: 18px!important
    }

    #copyright-note {
        float: none;
        width: 100%
    }

    .to-top {
        float: none;
        clear: both;
        width: 100%
    }
}

@media screen and (max-width: 470px) {
    .latestPost-review-wrapper .review-total-star {
        position:relative;
        right: 0;
        top: 0
    }
}

@media screen and (max-width: 400px) {
    article header {
        overflow:hidden
    }

 

    .primary-slider .slide-title,.latestPost .title a,.single-title {
        font-size: 20px!important;
        line-height: 1.4
    }
